services:
  db:
    image: postgres:17-bookworm
    container_name: db
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
  
volumes:
  db-data: